@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

main{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

/* .container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}*/

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left,
.right {
  height: 100%;
  padding: 25px 40px;
}

.left p {
  display: flex;
  justify-content: left;
  font-weight: bold;
}

h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 70px;
  border-radius: 2px;
  background: linear-gradient(135deg, blue, red);
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(250, 30, 30, 0.47);
}

.area {
  min-height: 150px;
}

.right ul {
  margin-top: 50px;
}

.right li {
  margin-top: 20px;
  font-size: 17px;
  list-style: none;
}

.network {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network a img {
  height: 60px;
  width: 60px;
  margin-top: 60px;
  border-radius: 12px;
  box-shadow: #000000 0px 0px 10px 0px;
}

.contact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, blue, red);
  color: #fff;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .7s;
}

.btn:hover {
  scale: 1.05;
  color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .right {
    height: 100%;
  }

  .network {
    max-width: 70%;
  }
}